@font-face {
    font-family: Poppins;
    src: url(/app/frontend/fonts/Poppins-ExtraLight.ttf);
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

/*Styles the body of the calculator*/
.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px); /*Puts the buttons in into 4 columns*/
    grid-template-rows: minmax(120px, auto) repeat(5, 100px); /*Puts the buttons into 5 rows*/
}

/* Styles the buttons on the calculator */
.calculator > button{
    color: white;
    border: 50px solid;
    border-color: orange;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    background-color: black;
}

/* Changes the style of buttons when your mouse hovers over them */
.calculator > button:hover{
    color:black;
    background-color: orange;
    font-size: 2.5rem;
}

/* Adjusts the size of the CLR button to fit the calculator */
button.clear-btn{
    grid-column: span 2;
    color: orange;
}

 /* Changes color of arithmetic buttons */
/* Adjusts the size of the EQUAL button to fit the calculator */
button.equal-btn{
    grid-column: span 2;
    color: orange;
}

button.delete-btn{
    color: orange;
}

button.divide-btn{
    color: orange;
}

button.multiple-btn{
    color: orange;
}

button.add-btn{
    color: orange;
}

button.sub-btn{
    color: orange;
}


/* Styles the display screen */
.display{
    grid-column: 1 / -1;
    color: white;
    background-color: rgb(0, 0, 0, .75);
    display: flex;
    align-items:flex-end;
    flex-direction: column;
    justify-content: space-between;

}

/* Styles the input element for the display screen */
.display-screen{
    background-color: rgb(0, 0, 0, .0);
    color: white;
    height: 100%;
    width: 95%;
    font-size: 40px;
    text-align: right;
    outline: none;
    border: none;
    margin-right: 10px;
}